@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

/* Main outer containers */
html, body { 
    overflow-y:auto; 
    height: 100%;
    margin:0;
}

.instr {
    font-size: 30px;
}

.content-center {
    
}

/* main big box */
.big-pink {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #EBC7E8;
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    -webkit-box-shadow: 10px 11px 12px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 11px 12px 2px rgba(0,0,0,0.45);
    box-shadow: 10px 11px 12px 2px rgba(0,0,0,0.45);
    transition: all 0.4s;
}

.goal-entry {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.goal-info {
    flex-grow: 1;
    background-color: #D9D9D9;
    font-family: "Jacques Francois";
    font-size: 24px;
    min-height: 14vh;
}

.subgoals-completed {
    background-color: #D9D9D9;
    font-family: "Jacques Francois";
    font-size: 24px;
    min-height: 14vh;
    min-width: 24vh;
}

.add-goal {
    min-width: 30vh;
    min-height: 24vh;
}