@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

html, body { 
    overflow-y:auto; 
    height: 100%;
    margin:0;
}

.index-page {
    color: #645CAA;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Jacques Francois";
}

.topbar {
    background-color: #A084CA;
    height: 150px;
    display: flex;
}

.topbar div {
    flex: 1 1 0;
}

.welc {
    font-size: 75px;
}

.content {
    background-color: #BFACE0;
    flex-grow: 1;
    display:
}