@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');


/* topbar modifications */
.quote-container p {
    margin-top: 0.2em;
    margin-bottom: 0.75em;
}
.quote {
    font-size: 30px
}

.author {
    font-size: 20px;
    font-style: italic;
    margin-left: 5px;
}


/* Content cointainer */
.content-center {
    gap: 30px;
}


/* Signup and login boxes */
.std-frm {
    max-height: 50vh;
    padding: 20px;
    padding-top: 0;
}

.hidden {
    display:none;
}